dataset: mnist-classification
layer: s4
seed: 0

model:
  d_model: 128
  n_layers: 4
  dropout: 0.0
  prenorm: true
  embedding: false
  layer:
    N: 64

train:
  epochs: 10
  bsz: 128
  lr: 0.001
  lr_schedule: false
  weight_decay: 0.01
  checkpoint: false
  suffix: null # String to use for checkpoint suffix
  sample: null # Sample during validation with desired prefix length

# Pass in 'wandb.mode=online' to turn on wandb logging
wandb:
  mode: disabled
  project: s4
  entity: null
